{% extends "Photography/base.html" %}

{% block title %}Afnan Behubeshi{% endblock %}
{% load static%}
{% block content %}
<!-- Hero Section -->
<section class="hero">
  <div class="hero-content">
    <h1>Capture the moments.</h1>
    <p>Drawing with light is the art of capturing stories words cannot.</p>
    <a href="{% url 'photography:portfolio' %}" class="btn">View Portfolio</a>
  </div>
</section>

<!-- Gallery Section -->
<section class="gallery">
  <h2>Featured Works</h2>
  <div class="gallery-grid">
    <div class="gallery-item">
      <div class="slides">
        <div class='slide'>
          <img src="{% static 'photography/6.jpg'%}" alt="Gallery Image 1">
          <p>Are you a camera? Because every time I look at you, I smile</p>
        </div>
        <div class='slide'>
          <img src="{% static 'photography/7.jpg'%}" alt="Gallery Image 1">
          <p>I think my autofocus is broken, because I can't take my eyes off you.</p>
        </div>
        <div class='slide'>
          <img src="{% static 'photography/8.jpg'%}" alt="Gallery Image 1">
          <p>Are we in a darkroom? Because I think something is developing between us.</p>
        </div>
        <div class='slide'>
          <img src="{% static 'photography/12.png'%}" alt="Gallery Image 1">
          <p>You must be a high ISO, because you're making my heart race even in low light.</p>
        </div>
        <button class="prev" id="prevBtn">&#10094;</button> <button class="next" id="nextBtn">&#10095;</button> </div>
      </div>
    </div>
    {% comment %} <div class="gallery-item">
      <div class="slides">
        <div class='slide'>
            <img src="{% static 'photography/3.jpg'%}" alt="Gallery Image 2">
            <p>Discover her exceptional photography, where simplicity meets elegance.</p>
        </div>
        <div class='slide'>
            <img src="{% static 'photography/4.jpeg'%}" alt="Gallery Image 4">
            <p>Each photo invites viewers into a unique visual story.</p>
        </div>
        <div class='slide'>
            <img src="{% static 'photography/5.jpeg'%}" alt="Gallery Image 5">
            <p>Another captivating moment captured.</p>
        </div>

        <button class="prev" id="prevBtn2">&#10094;</button>
        <button class="next" id="nextBtn2">&#10095;</button>
    </div>
     <p>Some descriptive text about this gallery item.</p>
    </div> {% endcomment %}
  </div>
</section>
<script src="{% static 'photography/script.js' %}"></script> 

<!-- Footer Section -->

{% endblock %}
